<footer>
    <div class="containerFooter container pb-4 pt-5">
        <!-- Logo y redes sociales - Siempre visible -->
        <div class="boxLogo">
            <div class="boxImg">
                <img class="img-fluid logo" src="../../../../assets/img/logo_blanco.png" alt="logo LikeVendor">
            </div>
            <p class="copyright">Copyright © 2021</p>
            <div class="d-flex w-100">
                <button class="btn btn-icon py-2">
                    <i-feather class="icon px-0" name="linkedin"></i-feather>
                </button>
                <button class="btn btn-icon py-2">
                    <i-feather class="icon px-0" name="instagram"></i-feather>
                </button>
                <button class="btn btn-icon py-2">
                    <i-feather class="icon px-0" name="facebook"></i-feather>
                </button>
            </div>
        </div>

        <!-- Contenedor de tablas para móviles -->
        <div class="mobile-tables-container">
            <!-- Tabla 1 - Empresa -->
            <div class="boxBussines">
                <h4>{{'Empresa'| translate}}</h4>
                <ul>
                    <li><a class="itemFooter" href="/about-us">{{'sobre nosotros' | translate}}</a></li>
                    <li><a class="itemFooter w-100" href="/empresas-asociadas">{{'empresas asociadas'| translate}}</a></li>
                    <li><a class="itemFooter" href="/comisiones">{{'comisiones'| translate}}</a></li>
                    <li><a class="itemFooter" href="/contacto">{{'contactos'| translate}}</a></li>
                </ul>
            </div>

            <!-- Tabla 2 - Soporte -->
            <div class="boxSoporte">
                <h4>{{'soporte'| translate}}</h4>
                <ul>
                    <li><a class="itemFooter" href="#">{{'atención al cliente' | translate}}</a></li>
                    <li><a class="itemFooter" href="/terminos-condiciones">{{'terminos y condiciones'| translate}}</a></li>
                    <li><a class="itemFooter" href="/legal">{{'legal'| translate}}</a></li>
                    <li><a class="itemFooter" href="/politica-privacidad">{{'politicas de privacidad' | translate}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
